[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pymongo = "*"
redis = "*"
pyjwt = "*"
python-dotenv = "*"
bcrypt = "*"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.9"
